In [13]:
!pip install selenium
import time
import warnings
warnings.filterwarnings('ignore')

Requirement already satisfied: selenium in c:\users\srividya\anaconda3\lib\site-packages (4.0.0b4)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\srividya\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\srividya\anaconda3\lib\site-packages (from selenium) (0.19.0)
Requirement already satisfied: urllib3[secure]~=1.26 in c:\users\srividya\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: attrs>=19.2.0 in c:\users\srividya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\srividya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in c:\users\srividya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\srividya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: idna in c:\users\srividya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: outcome in c:\users\srividya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sortedcontainers in c:\users\srividya\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: pycparser in c:\users\srividya\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\srividya\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\srividya\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (3.4.7)
Requirement already satisfied: certifi in c:\users\srividya\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\srividya\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (20.0.1)
Requirement already satisfied: six>=1.5.2 in c:\users\srividya\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\srividya\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.12.0)

In [14]:
import selenium
import pandas as pd
from selenium import webdriver

In [15]:
driver=webdriver.Chrome(r"C:\Users\Srividya\Downloads\chromedriver_win32\chromedriver.exe")

In [16]:
url="https://trak.in/"
driver.get(url)

In [17]:

from selenium.common.exceptions import  StaleElementReferenceException,ElementClickInterceptedException
from selenium.common.exceptions import  NoSuchElementException,NoSuchWindowException

from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

In [18]:
funding_deals=driver.find_element_by_xpath("//a[@title='http://trak.in/india-startup-funding-investment-2015/']")
funding_deals.click()

In [19]:
column_header=driver.find_elements_by_xpath("//th[@aria-controls='tablepress-48']")
column_header

[<selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="977b941f-4117-4a38-bfd7-7268f33cc309")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="c3ecdfc3-d5a2-4fc9-82ae-e4fed46edc1d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="d23865d4-9b61-4bac-8178-0e70d0a75262")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="ea597ad6-a706-4edf-b7f1-34a61bd2d261")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="c6ce77ac-fce4-4b7b-9f17-34d272c60cc8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="3bd60b74-0a42-4ece-8681-c21eae8fdac9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="f425c2eb-9997-432a-914a-2da2f63523ba")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="a62e0d8f-8cbc-449a-8945-ceb0d08a870e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="ec080ffc-e600-4d0f-aad9-b508fa5d68b7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="1c05f42f-3483-41d3-918d-13d7c4d0164e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="8ad92601-5c84-425a-86c8-453146eb6483")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="92358424-5cc9-4e3d-8b5c-f870e4f1362b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="ea2721fc-60a5-4f3c-b275-3df8e44dd069")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="36d50483-404c-4552-b406-69924519f41b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="65ad87e4-5529-4e21-894e-e5b61f106320")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="168cf3b3-a996-4a22-a49b-ddbf66166bca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="17545660-54ea-4f69-b66f-7f249e428f8e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="b157ac20-5402-4c0a-aaf4-9fe999dc37ac")>]

In [118]:
column_headers=[]
for i in column_header:
    column_headers.append(i.text)

In [119]:
column_headers

['Sr. No.',
 'Date (dd/mm/yyyy)',
 'Startup Name',
 'Industry / Vertical',
 'Sub-Vertical',
 'City / Location',
 "Investors' Name",
 'Investment Type',
 'Amount (In USD)',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [120]:
cols=[]
for i in range(len(column_headers)):
    if i < 9:
        cols.append(column_headers[i])
    else:
        break

In [121]:
cols

['Sr. No.',
 'Date (dd/mm/yyyy)',
 'Startup Name',
 'Industry / Vertical',
 'Sub-Vertical',
 'City / Location',
 "Investors' Name",
 'Investment Type',
 'Amount (In USD)']

In [122]:
column_values=driver.find_elements_by_xpath("//table[@id='tablepress-48']//tbody//tr//td[1]")
column_values

[<selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="d0d2d4da-6864-4ed1-bd01-90dd29250633")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="5b0b8ca9-3c79-432a-850f-e4b5fcece16d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="2eaf4cfe-4b19-42a9-98e5-dd6b31fbaf5d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="d5d87655-8c8c-4c40-bd81-fd3cc63bd7f1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="ed02edd6-7e75-4066-9924-b90a012d1d31")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="35f6367b-35ba-4dab-b9e6-d0efe5440a60")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="ed16031e-e8ba-469c-8f88-fa6881cdb8bf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="9ab33d9a-ae67-4d8b-888b-872cdd8a7d93")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="1cdf3759-e502-4b00-8270-293b4d942f61")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="c8f0b4fa-2f46-4b1c-9aa6-b34ab26837e6")>]

In [123]:
val1=[]
for i in column_values:
    val1.append(i.text)

In [124]:
val1

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [125]:
column_values2=driver.find_elements_by_xpath("//table[@id='tablepress-48']//tbody//tr//td[2]")

In [126]:
val2=[]
for i in column_values2:
    val2.append(i.text)

In [127]:
val2

['15/07/2020',
 '16/07/2020',
 '16/07/2020',
 '14/07/2020',
 '13/07/2020',
 '09/07/2020',
 '10/07/2020',
 '15/07/2020',
 '14/07/2020',
 '13/07/2020']

In [128]:
column_values3=driver.find_elements_by_xpath("//table[@id='tablepress-48']//tbody//tr//td[3]")

In [129]:
val3=[]
for i in column_values3:
    val3.append(i.text)

In [130]:
val3

['Flipkart',
 'Vedantu',
 'Crio',
 'goDutch',
 'Mystifly',
 'JetSynthesys',
 'gigIndia',
 'PumPumPum',
 'FLYX',
 'Open Appliances Pvt. Ltd.']

In [131]:
column_values4=driver.find_elements_by_xpath("//table[@id='tablepress-48']//tbody//tr//td[4]")

In [132]:
val4=[]
for i in column_values4:
    val4.append(i.text)

In [133]:
val4

['E-commerce',
 'EduTech',
 'EduTech',
 'FinTech',
 'Airfare Marketplace',
 'Gaming and Entertainment',
 'Marketplace',
 'Automotive Rental',
 'OTT Player',
 'Information Technology']

In [134]:
column_values5=driver.find_elements_by_xpath("//table[@id='tablepress-48']//tbody//tr//td[5]")

In [135]:
val5=[]
for i in column_values5:
    val5.append(i.text)

In [136]:
val5

['E-commerce',
 'Online Tutoring',
 'Learning Platform for Developers',
 'Group Payments',
 'Ticketing, Airline Retailing, and Post-Ticketing Services',
 'Gaming and Entertainment',
 'Crowd Sourcing, Freelance',
 'Used Car-leasing platform',
 'Streaming Social Network',
 'Internet-of-Things Security Solutions']

In [137]:
column_values6=driver.find_elements_by_xpath("//table[@id='tablepress-48']//tbody//tr//td[6]")

In [138]:
val6=[]
for i in column_values6:
    val6.append(i.text)

In [139]:
val6

['Bangalore',
 'Bangalore',
 'Bangalore',
 'Mumbai',
 'Singapore and Bangalore',
 'Pune',
 'Pune',
 'Gurgaon',
 'New York and Delhi',
 'Bangalore']

In [140]:
column_values7=driver.find_elements_by_xpath("//table[@id='tablepress-48']//tbody//tr//td[7]")

In [141]:
val7=[]
for i in column_values7:
    val7.append(i.text)

In [142]:
val7

['Walmart Inc',
 'Coatue Management',
 '021 Capital',
 'Matrix India,Y Combinator, Global Founders Capital, Soma Capital, and VentureSouq.',
 'Recruit Co. Ltd.',
 'Adar Poonawalla and Kris Gopalakrishnan.',
 'Incubate Fund India and Beyond Next Ventures',
 'Early Adapters Syndicate',
 'Raj Mishra, founder of AIT Global Inc',
 'Unicorn India Ventures']

In [143]:
column_values8=driver.find_elements_by_xpath("//table[@id='tablepress-48']//tbody//tr//td[8]")

In [144]:
val8=[]
for i in column_values8:
    val8.append(i.text)

In [145]:
val8

['M&A',
 'Series D',
 'pre-Series A',
 'Seed',
 'pre-Series B',
 'Venture-Series Unknown',
 'pre-Series A',
 'Seed',
 'pre-Seed',
 'Venture-Series Unknown']

In [146]:
column_values9=driver.find_elements_by_xpath("//table[@id='tablepress-48']//tbody//tr//td[9]")

In [147]:
val9=[]
for i in column_values9:
    val9.append(i.text)

In [148]:
val9

['1,200,000,000',
 '100,000,000',
 '934,160',
 '1,700,000',
 '3,300,000',
 '400,000',
 '974,200',
 '292,800',
 '200,000',
 '500,000']

In [149]:
df1 = pd.DataFrame(list(zip(val1,val2,val3,val4,val5,val6,val7,val8,val9)), columns =cols) 
print(df1)

  Sr. No. Date (dd/mm/yyyy)               Startup Name  \
0       1        15/07/2020                   Flipkart
1       2        16/07/2020                    Vedantu
2       3        16/07/2020                       Crio
3       4        14/07/2020                    goDutch
4       5        13/07/2020                   Mystifly
5       6        09/07/2020               JetSynthesys
6       7        10/07/2020                   gigIndia
7       8        15/07/2020                  PumPumPum
8       9        14/07/2020                       FLYX
9      10        13/07/2020  Open Appliances Pvt. Ltd.

        Industry / Vertical  \
0                E-commerce
1                   EduTech
2                   EduTech
3                   FinTech
4       Airfare Marketplace
5  Gaming and Entertainment
6               Marketplace
7         Automotive Rental
8                OTT Player
9    Information Technology

                                        Sub-Vertical          City / Location  \
0                                         E-commerce                Bangalore
1                                    Online Tutoring                Bangalore
2                   Learning Platform for Developers                Bangalore
3                                     Group Payments                   Mumbai
4  Ticketing, Airline Retailing, and Post-Ticketi...  Singapore and Bangalore
5                           Gaming and Entertainment                     Pune
6                          Crowd Sourcing, Freelance                     Pune
7                          Used Car-leasing platform                  Gurgaon
8                           Streaming Social Network       New York and Delhi
9              Internet-of-Things Security Solutions                Bangalore

                                     Investors' Name         Investment Type  \
0                                        Walmart Inc                     M&A
1                                  Coatue Management                Series D
2                                        021 Capital            pre-Series A
3  Matrix India,Y Combinator, Global Founders Cap...                    Seed
4                                   Recruit Co. Ltd.            pre-Series B
5           Adar Poonawalla and Kris Gopalakrishnan.  Venture-Series Unknown
6       Incubate Fund India and Beyond Next Ventures            pre-Series A
7                           Early Adapters Syndicate                    Seed
8              Raj Mishra, founder of AIT Global Inc                pre-Seed
9                             Unicorn India Ventures  Venture-Series Unknown

  Amount (In USD)
0   1,200,000,000
1     100,000,000
2         934,160
3       1,700,000
4       3,300,000
5         400,000
6         974,200
7         292,800
8         200,000
9         500,000

In [150]:
col_header=driver.find_elements_by_xpath("//th[@aria-controls='tablepress-49']")
col_header

[<selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="8edb74ba-8047-44b0-8e36-760495b3899e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="ab10a61e-ea98-42b6-81b0-3742a3242f82")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="ae8c533a-6be9-4398-a43f-70ed3d7903c0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="4b5ca80d-02cd-4248-90fe-1c029bb60e0c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="af85a6a0-ee3b-4587-8bc8-3dc8bae0a193")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="5d636766-b8ea-44fb-80e0-dc60efbd9689")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="85301768-1c4d-4142-8f31-b80727619424")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="bc49e3be-8476-4628-b8e7-717dad303712")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="98948849-0f2f-4086-a67d-0ca26e9761e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="341d3673-116f-4f44-b72a-5013d0346d24")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="ba38e33e-91a6-4672-9655-0f7e1bebddc6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="04cd38fa-234d-4867-84b8-71ed6aa0d14f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="38eca200-70cd-4e3d-86ac-4119bd018a00")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="115459d2-b28f-4382-b555-a5e271d2dca0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="8981c4f5-903f-4a85-b927-4702c51536e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="8c931964-6ba4-40b2-a044-00fe95176fc8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="d0c729c1-8815-4d9a-bd7a-882fcc963e95")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="61069fc6-1145-4b26-a2ca-d84acd4efe9e")>]

In [151]:
col_headers=[]
for i in col_header:
    col_headers.append(i.text)

In [152]:
col_headers

['Sr. No.',
 'Date (dd/mm/yyyy)',
 'Startup Name',
 'Industry / Vertical',
 'Sub-Vertical',
 'City / Location',
 "Investors' Name",
 'Investment Type',
 'Amount (In USD)',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [153]:
colss=[]
for i in range(len(col_headers)):
    if i < 9:
        colss.append(col_headers[i])
    else:
        break

In [154]:
colss

['Sr. No.',
 'Date (dd/mm/yyyy)',
 'Startup Name',
 'Industry / Vertical',
 'Sub-Vertical',
 'City / Location',
 "Investors' Name",
 'Investment Type',
 'Amount (In USD)']

In [155]:
column_valuess=driver.find_elements_by_xpath("//table[@id='tablepress-49']//tbody//tr//td[1]")
column_valuess

[<selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="5475755b-5edd-4b19-a6a3-ca545cd2cdc5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="1a799ae3-e06e-42fc-a930-f1806198fc90")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="24c18bbe-9bec-4d47-94b3-a9488e9c0c63")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="7371041b-d1ac-40c6-ba5d-0a874b9292e9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="602ae43b-55bf-45ba-a181-3431654598b6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="3ffafa51-897f-4304-8c6a-909717d0fbd0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="cf3797c2-2e02-4b09-9dd8-8cfab2e6cdc5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="47b7f5aa-bddb-4ea2-8f28-b48e503469b5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="03e60127-07b4-4df7-a043-e43637802751")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="acc99a75-6855-422c-a90e-b308c3357d82")>]

In [156]:
val11=[]
for i in column_valuess:
    val11.append(i.text)

In [157]:
column_valuess2=driver.find_elements_by_xpath("//table[@id='tablepress-49']//tbody//tr//td[2]")

In [158]:
val11

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [159]:
val22=[]
for i in column_valuess2:
    val22.append(i.text)

In [160]:
column_valuess3=driver.find_elements_by_xpath("//table[@id='tablepress-49']//tbody//tr//td[3]")

In [161]:
val22

['15/08/2020',
 '13/08/2020',
 '13/08/2020',
 '04/08/2020',
 '11/08/2020',
 '12/08/2020',
 '14/08/2020',
 '10/08/2020',
 '07/08/2020',
 '13/08/2020']

In [162]:
val33=[]
for i in column_valuess3:
    val33.append(i.text)

In [163]:
val33

['Practo',
 'Medlife',
 'HungerBox',
 'Dunzo',
 'Terra.do',
 'Classplus',
 'Niyo',
 'ZestMoney',
 'FreshToHome',
 'Eduvanz']

In [164]:
column_valuess4=driver.find_elements_by_xpath("//table[@id='tablepress-49']//tbody//tr//td[4]")

In [165]:
val44=[]
for i in column_valuess4:
    val44.append(i.text)

In [166]:
column_valuess5=driver.find_elements_by_xpath("//table[@id='tablepress-49']//tbody//tr//td[5]")

In [167]:
val55=[]
for i in column_valuess5:
    val55.append(i.text)

In [168]:
column_valuess6=driver.find_elements_by_xpath("//table[@id='tablepress-49']//tbody//tr//td[6]")

In [169]:
val66=[]
for i in column_valuess6:
    val66.append(i.text)

In [170]:
column_valuess7=driver.find_elements_by_xpath("//table[@id='tablepress-49']//tbody//tr//td[7]")

In [171]:
val77=[]
for i in column_valuess7:
    val77.append(i.text)

In [172]:
column_valuess8=driver.find_elements_by_xpath("//table[@id='tablepress-49']//tbody//tr//td[8]")

In [173]:
val88=[]
for i in column_valuess8:
    val88.append(i.text)

In [174]:
column_valuess9=driver.find_elements_by_xpath("//table[@id='tablepress-49']//tbody//tr//td[9]")

In [175]:
val99=[]
for i in column_valuess9:
    val99.append(i.text)

In [176]:
df2 = pd.DataFrame(list(zip(val11,val22,val33,val44,val55,val66,val77,val88,val99)), columns =colss) 
print(df2)

  Sr. No. Date (dd/mm/yyyy) Startup Name    Industry / Vertical  \
0       1        15/08/2020       Practo             HealthTech
1       2        13/08/2020      Medlife             E-commerce
2       3        13/08/2020    HungerBox               FoodTech
3       4        04/08/2020        Dunzo  Hyper-local Logistics
4       5        11/08/2020     Terra.do                EduTech
5       6        12/08/2020    Classplus                EduTech
6       7        14/08/2020         Niyo                FinTech
7       8        10/08/2020    ZestMoney                FinTech
8       9        07/08/2020  FreshToHome             E-commerce
9      10        13/08/2020      Eduvanz                FinTech

                        Sub-Vertical        City / Location  \
0           Health care and Wellness              Bangalore
1                    Online Pharmacy              Bangalore
2       Online Food Delivery Service              Bangalore
3           Online Delivery Services              Bangalore
4  Online Climate School, E-learning  Stanford, California,
5        E-learning, Online Tutoring                  Noida
6                 Financial Services              Bangalore
7                 Financial Services              Bangalore
8                      Food Delivery              Bangalore
9                 Financial Services                 Mumbai

                                     Investors' Name Investment Type  \
0                                        A1A Company        Series F
1         Prasid Uno Family Trust and SC Credit Fund
2  One97, Sabre Partners Trust, Pratithi Investme...       Series D1
3                                   Existing Backers     In Progress
4  Stanford Angels and Entrepreneurs (India), BEE...            Seed
5                                        Falcon Edge     In Progress
6                                Niyo Solutions Inc.
7                            Primrose Hills Ventures
8                                     Ascent Capital         Venture
9                              Sequoia India, Unitus        Series A

   Amount (In USD)
0       32,000,000
1       23,000,000
2        1,560,000
3       30,000,000
4        1,400,000
5  upto 15,000,000
6        6,000,000
7       10,670,000
8       16,200,000
9        5,000,000

In [177]:
col_headerr=driver.find_elements_by_xpath("//th[@aria-controls='tablepress-50']")
col_headerr

[<selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="13c942a9-32b5-462b-bf56-f7764e305c5a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="4fb53e36-8673-4573-86f8-200ecb2b5643")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="8e03453c-026a-42da-83ef-fd14167d4eb2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="87d50b14-ac8f-4118-9c14-af70714d7d9b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="e4a8f686-087a-4916-83d8-75b97dc751d7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="7e8b64ba-4ef1-45be-b734-c56610966507")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="e372cba3-334f-414f-818b-15f2efcecf7b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="788291ff-76dc-46d8-866b-b1689597f99b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="73120519-6e86-43aa-bb3a-e36d42345db6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="226f6cda-d327-4aa9-b223-7a359a729339")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="6f2e2309-75f2-4c16-8da1-bbbdde340f62")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="d5ddf1a4-6afd-47c6-9dbb-e956e093cd51")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="d32c5217-7d6c-45ce-a743-161c9a5705fb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="7e1400af-7434-47f7-8666-45f344901788")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="1fec6ff5-d563-46b6-8352-b855fc5dd4bf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="8a1559a5-70f2-49fb-a92b-1739fc7391cf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="6c6689ab-fc31-45bd-8d49-0fa71426ef23")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="365b5145-862b-4ecf-93bd-96e6f12b4b3d")>]

In [178]:
col_headerss=[]
for i in col_headerr:
    col_headerss.append(i.text)

In [179]:
colsss=[]
for i in range(len(col_headerss)):
    if i < 9:
        colsss.append(col_headerss[i])
    else:
        break

In [180]:
column_valuesss=driver.find_elements_by_xpath("//table[@id='tablepress-50']//tbody//tr//td[1]")
column_valuesss

[<selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="d45ead9c-6658-4399-9f78-2ae1c8ac45d5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="22327b90-9090-463f-8d65-484a068ec8c3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="2e8cce41-f8e2-419a-a752-f58f011b4cb3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="ad4cc9ec-52c6-44cb-a96b-c6b0de1147c3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="feafef66-897a-4909-a155-ffd9e02384ae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="04c2e793-3262-42d0-95e2-64eea22e468b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="8d1ba8ed-bd38-4f4f-bc20-665117d1e838")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="51aff8ae-21e2-410b-9b0e-5d7b1b4200d3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="35590b21-c73f-4f1a-bf4d-7b5ad7da26eb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="eb274e55fff6aeec38b0926336797085", element="15bdb8d0-5863-4134-a2b4-b40ad95a33cd")>]

In [181]:
val111=[]
for i in column_valuesss:
    val111.append(i.text)

In [182]:
column_valuesss2=driver.find_elements_by_xpath("//table[@id='tablepress-50']//tbody//tr//td[2]")

In [183]:
val222=[]
for i in column_valuesss2:
    val222.append(i.text)

In [184]:
column_valuesss3=driver.find_elements_by_xpath("//table[@id='tablepress-50']//tbody//tr//td[3]")

In [185]:
val333=[]
for i in column_valuesss3:
    val333.append(i.text)

In [186]:
column_valuesss4=driver.find_elements_by_xpath("//table[@id='tablepress-50']//tbody//tr//td[4]")

In [187]:
val444=[]
for i in column_valuesss4:
    val444.append(i.text)

In [188]:
column_valuesss5=driver.find_elements_by_xpath("//table[@id='tablepress-50']//tbody//tr//td[5]")

In [189]:
val555=[]
for i in column_valuesss5:
    val555.append(i.text)

In [190]:
column_valuesss6=driver.find_elements_by_xpath("//table[@id='tablepress-50']//tbody//tr//td[6]")

In [191]:
val666=[]
for i in column_valuesss6:
    val666.append(i.text)

In [192]:
column_valuesss7=driver.find_elements_by_xpath("//table[@id='tablepress-50']//tbody//tr//td[7]")

In [193]:
val777=[]
for i in column_valuesss7:
    val777.append(i.text)

In [194]:
column_valuesss8=driver.find_elements_by_xpath("//table[@id='tablepress-50']//tbody//tr//td[8]")

In [195]:
val888=[]
for i in column_valuesss8:
    val888.append(i.text)

In [196]:
column_valuesss9=driver.find_elements_by_xpath("//table[@id='tablepress-50']//tbody//tr//td[9]")

In [197]:
val999=[]
for i in column_valuesss9:
    val999.append(i.text)

In [198]:
df3= pd.DataFrame(list(zip(val111,val222,val333,val444,val555,val666,val777,val888,val999)), columns =colsss) 
print(df3)

  Sr. No. Date (dd/mm/yyyy) Startup Name  \
0       1        08/09/2020       Byju’s
1       2        12/09/2020    mCaffeine
2       3        09/09/2020       Qshala
3       4        02/09/2020        Winzo
4       5        09/09/2020  Hippo Video
5       6        07/09/2020      Melorra
6       7        07/09/2020          1mg
7       8        31/08/2020        mfine
8       9        31/08/2020         Apna
9      10        03/09/2020      Railofy

                      Industry / Vertical  \
0                                 EduTech
1                           Personal Care
2                                 EduTech
3                           Online Gaming
4  Video Customer Experience(CX) Platform
5                              E-commerce
6                              E-commerce
7                              HealthTech
8                         Human Resources
9                          Transportation

                             Sub-Vertical  \
0                         Online Tutoring
1                     Skincare & Haircare
2      Online Curiosity Platform for Kids
3                           Online Gaming
4  Video Customer Experience(CX) Platform
5                    Online Jewelry Store
6                         Online Pharmacy
7           On-Demand Healthcare Services
8                    Recruitment Platform
9            WL & RAC protection platform

                              City / Location  \
0                                   Bangalore
1                                      Mumbai
2                                   Bangalore
3                                   New Delhi
4  Newark, Delaware, United States of Amercia
5                                   Bangalore
6                                     Gurgaon
7                                   Bangalore
8                                   Bangalore
9                                      Mumbai

                                     Investors' Name Investment Type  \
0  Silver Lake, Tiger Global, General Atlantic an...  Private Equity
1  Amicus Capital Private Equity I LLP, Amicus Ca...        Series B
2                                 Rainmatter Capital           Angel
3  Kalaari Capital Partners, IndigoEdge Managemen...        Series B
4  Alpha Wave Incubation, Exfinity Venture Partne...        Series A
5                         Shadow Holdings, Lightbox.  Debt Financing
6         Gaja Capital, Tata Capital, Partners Group     In Progress
7                                   Caretech Pte Inc        Series B
8         Lightspeed India and Sequoia Capital India        Series A
9                                  Chiratae Ventures            Seed

  Amount (In USD)
0     500,000,000
1       3,000,000
2         370,000
3      15,500,000
4       4,500,000
5  upto 8,900,000
6     100,000,000
7       5,400,000
8       8,000,000
9         950,000

In [199]:
df1.style.set_table_attributes("style='display:inline'").set_caption('JULY, 2020')

In [200]:
df2.style.set_table_attributes("style='display:inline'").set_caption('AUGUST, 2020')

In [201]:
df3.style.set_table_attributes("style='display:inline'").set_caption('SEPTEMBER, 2020')

These are the funding deals for second quarter (i.e. July 20 –
September 20)

df3.to_csv("df3.csv")